.msg-list-item {
    margin-bottom: 10px;
}

.msg-timestamp {
  float: right;
  padding: 0 20px;
  color: #5D5D5D;
}

.msg-answered {
    float:right;
    padding: 0 0.25rem;
}

.msg-attachment {
  float:right;
}

.msg-subject strong {
  padding: 10px 0;
  color: #5D5D5D;
}

.msg-snippet {
    padding: 5px 20px 0px 0px;
    font-size: 0.75rem;
}

.folder-stats {
    float:right;
    padding: 0 0.25rem;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}








/* .inbox-messages .msg-check { */
/*   padding: 0 20px; */
/* } */
/* .inbox-messages .msg-subject { */
/*   padding: 10px 0; */
/*   color: #5D5D5D; */
/* } */

/* .inbox-messages .msg-snippet { */
/*   padding: 5px 20px 0px 5px; */
/* } */
/* .inbox-messages .msg-subject .fa { */
/*   font-size: 14px; */
/*   padding:3px 0; */
/* } */
